<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjc.hrm.mapper.LoadInfMapper" >
  <resultMap id="BaseResultMap" type="com.gjc.hrm.domain.LoadInf" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="load_title" property="loadTitle" jdbcType="VARCHAR" />
    <result column="load_name" property="loadName" jdbcType="VARCHAR" />
    <result column="load_path" property="loadPath" jdbcType="VARCHAR" />
    <result column="load_user" property="loadUser" jdbcType="INTEGER" />
    <result column="load_createdate" property="loadCreatedate" jdbcType="TIMESTAMP" />
    <result column="load_remark" property="loadRemark" jdbcType="VARCHAR" />
    <result column="can_load_user" property="canLoadUser" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="SelectResultMap" type="com.gjc.hrm.domain.LoadUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="load_title" property="loadTitle" jdbcType="VARCHAR" />
    <result column="load_name" property="loadName" jdbcType="VARCHAR" />
    <result column="load_path" property="loadPath" jdbcType="VARCHAR" />
    <result column="load_user" property="loadUser" jdbcType="INTEGER" />
    <result column="load_createdate" property="loadCreatedate" jdbcType="TIMESTAMP" />
    <result column="load_remark" property="loadRemark" jdbcType="VARCHAR" />
    <result column="can_load_user" property="canLoadUser" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Select_Where_Clause" >
    <where >
      load_user = u.ID
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefixOverrides="and" >
            and
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, load_title, load_name, load_path, load_user, load_createdate, load_remark, can_load_user
  </sql>
  <sql id="Select_Column_List" >
    l.id, load_title, load_name, load_path, load_user, load_createdate, load_remark, can_load_user,username
  </sql>
  <select id="selectByExample" resultMap="SelectResultMap" parameterType="com.gjc.hrm.domain.LoadInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Select_Column_List" />
    from load_inf l, user_inf u
    <if test="_parameter != null" >
      <include refid="Select_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 and limit != null and offset != null">
      limit ${offset},${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from load_inf l
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from load_inf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gjc.hrm.domain.LoadInfExample" >
    delete from load_inf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gjc.hrm.domain.LoadInf" >
    insert into load_inf (id, load_title, load_name, 
      load_path, load_user, load_createdate, 
      load_remark, can_load_user)
    values (#{id,jdbcType=INTEGER}, #{loadTitle,jdbcType=VARCHAR}, #{loadName,jdbcType=VARCHAR}, 
      #{loadPath,jdbcType=VARCHAR}, #{loadUser,jdbcType=INTEGER}, #{loadCreatedate,jdbcType=TIMESTAMP}, 
      #{loadRemark,jdbcType=VARCHAR}, #{canLoadUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gjc.hrm.domain.LoadInf" >
    insert into load_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loadTitle != null" >
        load_title,
      </if>
      <if test="loadName != null" >
        load_name,
      </if>
      <if test="loadPath != null" >
        load_path,
      </if>
      <if test="loadUser != null" >
        load_user,
      </if>
      <if test="loadCreatedate != null" >
        load_createdate,
      </if>
      <if test="loadRemark != null" >
        load_remark,
      </if>
      <if test="canLoadUser != null" >
        can_load_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loadTitle != null" >
        #{loadTitle,jdbcType=VARCHAR},
      </if>
      <if test="loadName != null" >
        #{loadName,jdbcType=VARCHAR},
      </if>
      <if test="loadPath != null" >
        #{loadPath,jdbcType=VARCHAR},
      </if>
      <if test="loadUser != null" >
        #{loadUser,jdbcType=INTEGER},
      </if>
      <if test="loadCreatedate != null" >
        #{loadCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="loadRemark != null" >
        #{loadRemark,jdbcType=VARCHAR},
      </if>
      <if test="canLoadUser != null" >
        #{canLoadUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gjc.hrm.domain.LoadInfExample" resultType="java.lang.Integer" >
    select count(*) from load_inf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update load_inf
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.loadTitle != null" >
        load_title = #{record.loadTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.loadName != null" >
        load_name = #{record.loadName,jdbcType=VARCHAR},
      </if>
      <if test="record.loadPath != null" >
        load_path = #{record.loadPath,jdbcType=VARCHAR},
      </if>
      <if test="record.loadUser != null" >
        load_user = #{record.loadUser,jdbcType=INTEGER},
      </if>
      <if test="record.loadCreatedate != null" >
        load_createdate = #{record.loadCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loadRemark != null" >
        load_remark = #{record.loadRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.canLoadUser != null" >
        can_load_user = #{record.canLoadUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update load_inf
    set id = #{record.id,jdbcType=INTEGER},
      load_title = #{record.loadTitle,jdbcType=VARCHAR},
      load_name = #{record.loadName,jdbcType=VARCHAR},
      load_path = #{record.loadPath,jdbcType=VARCHAR},
      load_user = #{record.loadUser,jdbcType=INTEGER},
      load_createdate = #{record.loadCreatedate,jdbcType=TIMESTAMP},
      load_remark = #{record.loadRemark,jdbcType=VARCHAR},
      can_load_user = #{record.canLoadUser,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjc.hrm.domain.LoadInf" >
    update load_inf
    <set >
      <if test="loadTitle != null" >
        load_title = #{loadTitle,jdbcType=VARCHAR},
      </if>
      <if test="loadName != null" >
        load_name = #{loadName,jdbcType=VARCHAR},
      </if>
      <if test="loadPath != null" >
        load_path = #{loadPath,jdbcType=VARCHAR},
      </if>
      <if test="loadUser != null" >
        load_user = #{loadUser,jdbcType=INTEGER},
      </if>
      <if test="loadCreatedate != null" >
        load_createdate = #{loadCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="loadRemark != null" >
        load_remark = #{loadRemark,jdbcType=VARCHAR},
      </if>
      <if test="canLoadUser != null" >
        can_load_user = #{canLoadUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjc.hrm.domain.LoadInf" >
    update load_inf
    set load_title = #{loadTitle,jdbcType=VARCHAR},
      load_name = #{loadName,jdbcType=VARCHAR},
      load_path = #{loadPath,jdbcType=VARCHAR},
      load_user = #{loadUser,jdbcType=INTEGER},
      load_createdate = #{loadCreatedate,jdbcType=TIMESTAMP},
      load_remark = #{loadRemark,jdbcType=VARCHAR},
      can_load_user = #{canLoadUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>